*{
	margin: 0 auto;
	padding: 0 auto;
}
#body{
	width: 100%;
	background: #000;
}
.head{
	width: 100%;
	height: 44px;
	background-color: #1e1e1e;
}
.head>ul{
	width: 65%;
	height: 44px;
}
.head>ul>li{
	text-align: center;
	width: 65px;
	line-height: 44px;
	color: #fff;
	float: left;
	list-style: none;
}
.head>ul>li:hover{
	color: rgba(171,171,171,.9);
	cursor:pointer ;
}
.img>img:hover{
	cursor:pointer;
}
.img{
	margin-top: 5px;
}
.first{
	vertical-align: text-bottom;
}
.second{
	margin-left: 2%;
}
.third{
	vertical-align: text-bottom;
}
#nav{
	position:fixed;
	top:0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 44px;
	background-color: #000;
	display:none;
}
#navhead{
	position:fixed;
	top:0;
	left:20px;
	z-index: 1;
	width: 100%;
	background-color: #000;
}
.title{
	color: #fff;
	font-size: 25px;
	display: inline-block;
}
#navfoot{
	color: #fff;
	margin-top:15px;
	margin-left: 380px;
	list-style: none;
	display: inline-block;
}
#navfoot>li{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	float: left;
	width: 70px;
	cursor: pointer;
}
#buy{
	border-radius: 5px;
	vertical-align: text-bottom;
	margin-left: 20px;
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	width: 50px;
	height: 25px;
	background-color: #dd5044;
	cursor:pointer;
}
.slogan{
	display: block;
	padding-top: 100px;
	text-align: center;
	color: #fff;
	font-size: 36px;
}
.slogan~img{
	display: block;
	margin:0 auto; 
}
.text{
	text-align: center;
	font-size: 20px;
	width: 830px;
	height: 200px;
	color: rgba(255, 255, 255, 0.5);
	position: relative;
}
.special{
	margin-top: 0px;
	width: 100%;
	height:450px;
	background-color: #fff;
}
.special>img{
	padding-left: 10%;
	padding-top: 30px;
}
.special>div{
	vertical-align: top;
	margin-top:100px;
	width: 360px;
	height: 200px;
	display:inline-block;
	margin-left: 0; 
}
.special>div>p{
	color: #a86958;
	line-height: 30px;
}
.special>div>p>span{
	font-weight: bold;
}
.special>button{
	border: none;
	vertical-align:middle;
	border-radius: 5px;
	margin-top:-100px;
	margin-left:-370px;
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	width: 50px;
	height: 25px;
	background-color: #dd5044;
	cursor: pointer;
}
#mb{
	width: 100%;
	height: 1526px;
	background-color:#000;
}
#mb1{
	width:1000px;
	height: 1526px;
	margin: 0 auto;
}
.ability{
	margin-left:5%;
	float: left;
	margin-top: 50px;
	width: 406px;
	height: 450px;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	background-color:#fff ;
}
.ability2{
	margin-top: 4px;
	width: 398px;
	height: 215px;
	overflow: hidden;
	
}
.ability2>img{
	transition: all 1s;
}
.ability2>img:hover{
	transform:scale(1.2,1.2); 
}
.ability>span{
	color: green;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
#bannerbody{
	margin-top: 30px;
	width: 100%;
	height: 400px;
	background-color: #fff;
}
#banner{
	display: inline-block;
	margin-top: 30px;
	margin-left:10%;
	width: 500px;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#bannerbottom{
	z-index: 1;
	padding-top: 50px;
	font-size: 0;
	display: inline-block;
	width:3500px;
	height: 277px;
}
#banner:hover #bannerleft{
	display: block;
}
#bannerleft{
	position: absolute;
	top:150px;
	display: none;
	left:0;//overflow:hidden 会覆盖轮播
	
}
#banner:hover #bannerright{
	display: block;
}
#bannerright{
	position: absolute;
	top:150px;
	left:453px;
	display: none;
}
#messge{
	width: 370px;
	text-align: center;
	font-weight: bold;
	color: #a86958;
	font-size: 18px;
	line-height: 20px;
	margin-top: 120px;
	margin-left: 0%;
	display: inline-block;
	vertical-align: top;
}
#life{
	width: 100%;
	height:900px;
	background-image: url("image/14.jpg");
}
.life{
	color: #fff;
	background-color: #17a05e;
	margin-top: 200px;
	margin-left: 10%;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	line-height: 200px;
}
.life>span{
	cursor: pointer;
}
#life1{
	margin-left:10%;
}
#lastdiv{
	margin:0 auto;
	width: 80%;
	height: 900px;
}
#mengban{
	width: 100%;
	height: 100%;
	background-color:rgba(39, 40, 34, 0.5);
	display: none;
	position: relative;
	position:fixed;
	left: 0;
	top:0;
	z-index: 5;
	overflow: hidden;
}
#mengban>img{
	width: 800px;
	height: 480px;
	margin-left: 25%;
	margin-top: 10%;
}
#close{
	width: 50px;
	height: 28px;
	background-color:#dd5044;
	color: #fff;
	border: none;
	position:absolute;
	top:20px;
	right:20px;
	z-index: 10;  
}
#life>p{
	color: rgba(255, 255, 255, 0.5);
	font-size: 25px;
	font-weight: bold;
	line-height:40px;
	margin-left: 200px;
	margin-top: 150px; 
}